EXCLUDE:
  top_had: &top_had
    b: null
    q1: null
    q2: null
    SYMMETRY: [ q1, q2 ]

  top_lep: &top_lep
    b: null
    l: null
#    v: null

# ---------------------------------------------------
# REQUIRED - INPUTS - List all inputs to EveNet here.
# ---------------------------------------------------
INPUTS:
  # -----------------------------------------------------------------------------
  # REQUIRED - SEQUENTIAL - inputs which can have an arbitrary number of vectors.
  # -----------------------------------------------------------------------------
  SEQUENTIAL:
    Source:
      energy: log_normalize
      pt: log_normalize
      eta: normalize
      phi: normalize_uniform
      btag: none
      isLepton: none
      charge: none

  # ---------------------------------------------------------------------
  # REQUIRED - GLOBAL - inputs which will have a single vector per event.
  # ---------------------------------------------------------------------
  GLOBAL:
    Conditions:
      met: log_normalize
      met_phi: normalize
      nLepton: none
      nbJet: none
      nJet: none
      HT: log_normalize
      HT_lep: log_normalize
      M_all: log_normalize
      M_leps: log_normalize
      M_bjets: log_normalize

# ----------------------------------------------------------------------
# REQUIRED - EVENT - Complete list of resonance particles and daughters.
# ----------------------------------------------------------------------
EVENT:
  tttt_2lsc:
    diagram:
      t1: *top_had
      t2: *top_had
      t3: *top_lep
      t4: *top_lep
      SYMMETRY: [ [t1, t2], [t3, t4] ]

  #tttt_3l:
  #  diagram:
  #    t1: *top_had
  #    t2: *top_lep
  #    t3: *top_lep
  #    SYMMETRY:  [ t2, t3]

# -----------------------------------------------------------------------------
# REQUIRED - SEGMENTATIONS - List of desired classes to predict from observables.
# -----------------------------------------------------------------------------
SEGMENTATIONS:
  regression: # log and uniform normalization not implemented yet
    pt: normalize # log_normalize
    eta: normalize
    phi: normalize_uniform
    mass: normalize # log_normalize

# -----------------------------------------------------------------------------
# REQUIRED - REGRESSIONS - List of desired classes to predict from observables.
# -----------------------------------------------------------------------------
CLASSIFICATIONS:
  EVENT:
    - signal

# !!! Important, the field to decide normalization (length should match cls label)
CLASSLABEL:
  EVENT:
    signal:
      - []


RESONANCE_LABEL:
  - [ "null", "t(had)", "t1l"]

PARTICLE_PROPERTIES:
  - Energy
  - Spin
  - nProduct_BJet
  - nProduct_Jet
  - nProduct_Lepton
  - Product_LeptonCharge

GENERATIONS:
  Conditions:
    - met
    - met_phi
    - M_all
  GlobalTargets:
    - HT

  Events:
    - energy
    - pt
    - eta
    - phi
    - btag
    - isLepton
    - charge

  Neutrinos:
    pt: log_normalize
    eta: normalize
    phi: normalize_uniform